@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.banner {
    position: relative;
    width: 100%;
    margin-bottom: 43px;

    &__img {
        height: 223px;
        width: 100%;
        border-radius: 25px;
        object-fit: cover;
        object-position: center;
        filter: brightness(70%);
        z-index: -1;
    }

    &__title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-family: $font-family-base;
        font-size: 48px;
        line-height: 68.45px;
        color: $color-secondary;
    }
}

.about__banner {
    margin-bottom: 31px;
}

@media screen and (max-width: 1055px) {
    .banner {
        margin-bottom: 25px;

        &__img {
            height: 171px;
            border-radius: 20px;
        }

        &__title {
            top: 50%;
            left: 50%;
            font-size: 28px;
            line-height: 24px;
        }
    }

    .about__banner {
        margin-bottom: 21px;
    }
}

@media screen and (max-width: 500px) {
    .banner {
        margin-bottom: 22px;

        &__img {
            height: 111px;
            border-radius: 10px;
        }

        &__title {
            top: 50%;
            left: 36%;
            font-size: 24px;
            line-height: 24px;
        }
    }

    .about__banner {
        margin-bottom: 19px;
    }
}