@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.accordion {
    position: relative;
    margin-left: 108px;
    margin-right: 109px;
    font-family: $font-family-base;
    font-weight: 500;

    &__wrap {
        position: relative;
        z-index: 2;
        @include flexSpaceBetween;
        background-color: $color-primary;
        height: 47px;
        margin-bottom: 31px;
        border-radius: 5px;

        &:hover {
            cursor: pointer;
        }

        &.open {
            margin-bottom: 0;
        }

        &__title {
            color: $color-secondary;
            font-size: 24px;
            height: 34px;
            margin-left: 18.08px;
        }

        &__vector {
            @include flexCenter;
            width: 32px;
            height: 32px;
            margin-right: 17.29px;

            &__mod {
                width: 24px;
                height: 13.71px;
            }
        }
    }

    &__content {
        background-color: $color-tertiary;
        color: $color-primary;
        font-size: 24px;
        padding: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: hidden;
        position: relative;
        margin-top: -5px;
        transition: padding 0.3s ease, max-height 0.3s ease;
        z-index: 1;
        opacity: 0;

        &.open {
            padding: 27px 27px 19px 18px;
            margin-bottom: 31px;
            opacity: 1;
            transition: padding 0.3s ease, max-height 0.3s ease;
        }
    }
}

@media screen and (max-width: 875px) {
    .accordion {
        height: 100%;
        margin-left: 64px;
        margin-right: 64px;

        &__wrap {
            height: 40px;
            margin-bottom: 26px;

            &__title {
                font-size: 18px;
                height: 27px;
                margin-left: 14.08px;
            }

            &__vector {
                width: 24px;
                height: 24px;
                margin-right: 13px;

                &__mod {
                    width: 20px;
                    height: 9.5px;
                }
            }
        }

        &__content {
            font-size: 18px;

            &.open {
                padding: 27px 17px 19px 15px;
                margin-bottom: 26px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    .accordion {
        height: 100%;
        margin-left: 0;
        margin-right: 0;

        &__wrap {
            height: 30px;
            margin-bottom: 20px;

            &__title {
                font-size: 12px;
                height: 19px;
                margin-left: 11.51px;
            }

            &__vector {
                width: 18.42px;
                height: 18.42px;
                margin-right: 5.58px;

                &__mod {
                    width: 16px;
                    height: 9.14px;
                }
            }
        }

        &__content {
            font-size: 12px;

            &.open {
                padding: 23.08px 6.91px 52.58px 11.51px;
                margin-bottom: 20px;
            }
        }
    }
}