@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.home__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 50px;
    background-color: $color-tertiary;
    font-family: $font-family-base;
    font-weight: 500;
    border-radius: 25px;
    width: 100%;
    padding: 56px 50px;
    box-sizing: border-box;
}

.cards__link {
    min-width: 340px;
    min-height: 340px;
    border-radius: 10px;
    text-decoration: none;
    background-color: $color-primary;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%), $color-primary;
    color: $color-secondary;


    &:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.cards__content {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cards__image {
    @include flexCenter;
    width: 300px;
    height: 238px;
    margin: 20px 20px 10px 20px;
    border-radius: 10px 10px 0px 0px;
}

.cards__title {
    width: 300px;
    height: 52px;
    font-size: 18px;
    margin: 0 20px 20px 20px;
}

@media screen and (max-width:1420px) {
    .home__cards {
        justify-content: center;
    }
}

@media screen and (max-width:1030px) {
    .home__cards {
        justify-content: center;
    }
}


@media screen and (max-width: 500px) {
    .home__cards {
        @include flexCenter;
        flex-direction: column;
        background-color: $color-secondary;
        padding: 0;
        gap: 0;
    }

    .cards__link {
        width: 100%;
        min-height: 255px;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .cards__image {
        @include flexCenter;
        width: 100%;
        max-width: calc(100% - 40px);
        height: 158px;
        margin: 20px 20px 10px 20px;
    }

    .cards__title {
        width: 295.59px;
        height: 52px;
        font-size: 18px;
        margin: 0 20px 15px 20px;
    }
}

/*.cards {
    &__titel {

    }

    &__content{
        
    }
} */