@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.housingInformation {
    display: flex;
    justify-content: space-between;

    /* contain left */

    &__contain__left {
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }

    &__title {
        height: 51px;
        color: $color-primary;
        font-size: 36px;
        line-height: 51.34px;
    }

    &__location {
        height: 26px;
        color: $color-primary;
        font-size: 18px;
        line-height: 25.67px;
    }

    &__tag {
        display: flex;
        margin-top: 20px;

        &__contain {
            font-size: 14px;
            padding: 3px 22px 2px;
            border-radius: 10px;
            background-color: $color-primary;
            color: $color-secondary;
            margin-right: 10px;
        }
    }

    /* contain right */

    &__contain__right {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    &__host {
        display: flex;
        justify-content: flex-end;

        &__name {
            height: 52px;
            width: 93px;
            font-size: 18px;
            color: $color-primary;
            margin-right: 10px;
            margin-top: 6px;
            text-align: right;
            line-height: 25.67px;
        }

        &__picture {
            width: 64px;
            height: 64px;
            border-radius: 50%;
        }
    }

    &__rating {
        display: flex;
        justify-content: flex-end;
        gap: 15.25px;
        margin-top: 27px;

        &__star {
            width: 24.75px;
            height: 24px;
        }
    }

}

/* @media screen and (max-width: 875px)*/
@media screen and (max-width: 500px) {
    .housingInformation {
        flex-direction: column;

        /* contain left */

        &__contain__left {
            margin-top: 15px;
        }

        &__title {
            height: 46px;
            font-size: 18px;
            line-height: 25.67px;
        }

        &__location {
            height: 22px;
            font-size: 14px;
            line-height: 19.96px;
            margin-top: 5px;
        }

        &__tag {
            margin-top: 10px;

            &__contain {
                font-size: 10px;
                padding: 3px 22px 2px;
                margin-right: 10px;
                border-radius: 5px;
            }
        }

        /* contain right */

        &__contain__right {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;
            margin-top: 24px;
        }

        &__host {
            margin-top: 16px;

            &__name {
                height: 33px;
                font-size: 12px;
                margin-right: 10px;
                margin-top: 6px;
                line-height: 17.11px;
            }

            &__picture {
                width: 32px;
                height: 32px;
            }
        }

        &__rating {
            display: flex;
            justify-content: flex-end;
            gap: 6.59px;
            margin-top: 27px;

            &__star {
                width: 18px;
                height: 18px;
            }
        }
    }

}