@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.housingCarrousel {
    position: relative;
    height: 415px;
    border-radius: 25px;

    &__image {
        max-height: 415px;
        border-radius: 25px;
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    &__button__left {
        position: absolute;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        left: 23.36px;
    }

    &__button__right {
        position: absolute;
        padding: 0;
        top: 50%;
        transform: translateY(-50%);
        right: 23.36px;
    }

    &__button__vector {
        width: 46.68px;
        height: 79.2px;
    }

    &__counter {
        position: absolute;
        width: 24px;
        height: 32.4px;
        font-size: 18px;
        font-weight: 500;
        bottom: 24px;
        left: 50%;
        transform: translate(-50%);
        display: flex;
        align-items: center;
        color: $color-secondary;
    }

}

button {
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

@media screen and (max-width: 875px) {
    .housingCarrousel {
        height: 335px;

        &__image {
            height: 335px;
            width: 100%;
        }

        &__button__vector {
            width: 28.75px;
            height: 49.5px;
        }
    }
}


@media screen and (max-width: 500px) {
    .housingCarrousel {
        height: 255px;
        border-radius: 10px;

        &__image {
            max-height: 255px;
            border-radius: 10px;
            width: 100%;
        }

        &__button__vector {
            width: 11.67px;
            height: 19.8px;
        }

        &__counter {
            width: 0px;
            height: 0px;
            font-size: 0px;
        }
    }

}