.footer {
    @include flexCenter;
    width: 100%;
    font-family: $font-family-base;
    background-color: $color-fourth;
    height: 209px;

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
    }

    &__logo {
        width: 122px;
        height: 39.44px;
        margin: 66px 0 28.56px 0;
    }

    &__rights {
        @include flexCenter;
        color: $color-secondary;
        height: 46px;
        font-size: 24px;
        font-weight: 500;
    }
}

@media screen and (max-width: 875px) {
    .footer {
        &__rights {
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 500px) {
    .footer {
        &__logo {
            margin: 62px 0 0 0;
        }

        &__rights {
            font-size: 12px;
            align-items: flex-end;
        }
    }
}