@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.home__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px 50px;
    background-color: $color-tertiary;
    font-family: $font-family-base;
    font-weight: 500;
    border-radius: 25px;
    width: 100%;
    padding: 56px 50px;
    box-sizing: border-box;
}

@media screen and (max-width:1420px) {
    .home__cards {
        justify-content: center;
    }
}

@media screen and (max-width:1030px) {
    .home__cards {
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .home__cards {
        @include flexCenter;
        flex-direction: column;
        background-color: $color-secondary;
        padding: 0;
        gap: 0;
    }
}