@import '/src/style/base/mixins.scss';
@import '/src/style/base/variables.scss';

.errorPage {
    @include flexCenter;
    @include layoutFooter;
    font-family: $font-family-base;
    flex-direction: column;
    color: $color-primary;
    font-weight: 500;

    &__404 {
        @include flexCenter;
        width: 100%;
        height: 263px;
        font-size: 288px;
        font-weight: 700;
        margin-top: 169px;
    }

    &__text {
        @include flexCenter;
        width: 100%;
        min-height: 51px;
        font-size: 36px;
        margin-top: 66px;

        &__one {
            margin-right: 12px;
        }
    }

    &__link {
        @include flexCenter;
        width: 100%;
        height: 26px;
        text-decoration: underline;
        color: $color-primary;
        font-size: 18px;
        margin-top: 182px;
        margin-bottom: 10px;

        &:hover {
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 875px) {
    .errorPage {
        &__404 {
            height: 200px;
            font-size: 175px;
            margin-top: 154x;
        }

        &__text {
            flex-direction: column;
            font-size: 27px;
        }

        &__link {
            margin-top: 157px;
        }
    }
}

@media screen and (max-width:500px) {

    .errorPage {
        &__404 {
            height: 99px;
            font-size: 96px;
            margin-top: 195px;
        }

        &__text {
            width: 260px;
            height: 52px;
            font-size: 18px;
            margin-top: 11px;
        }

        &__link {
            height: 20px;
            font-size: 14px;
            margin-top: 133px;
        }
    }
}